.link() {
  margin: 0 7px;

  a {
    color: @black;
    padding: 4px;
    text-decoration: none;

    &:hover {
      background-color: @colorTheme;
      color: white;
    }

    &:active {
      // font-weight: 999;
      text-decoration: underline;
    }
  }
}

.logo() {
  font-size: 1.55rem;

  a {
    color: @black;
    text-decoration: none;
  }
}
