.button(@corners: 0) {
  background-color: @white;
  border: 1px solid;
  border-radius: @corners;
  margin: 0 7px;
  padding: 4px;

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &:hover:enabled {
    background-color: @colorTheme;
    color: @white;
  }

  &:active:enabled {
    background-color: @colorTheme;
    color: @white;
    text-decoration: underline;
  }
}

.divButton(@corners: 0) {
  .button(@corners);

  cursor: pointer;
}

.error() {
  color: @red;
  max-width: 75%;
  font-size: 0.95rem;
  font-weight: 700;
  margin: 0 auto;

  @media @phone {
    font-size: 0.75rem;
  }
}

.input() {
  font-size: @fontSize;
  margin: 10px auto;
  height: 50px;
  max-width: 500px;
  text-align: center;
  width: 75%;
}

.link(@corners: 0) {
  margin: 0 7px;

  @media @phone {
    margin: 7px 0;
  }

  a {
    border-radius: @corners;
    color: @black;
    padding: 4px;
    text-decoration: none;

    &:hover {
      background-color: @colorTheme;
      color: white;
    }

    &:active {
      background-color: @colorTheme;
      color: white;
      text-decoration: underline;
    }
  }
}

.logo() {
  font-size: 1.55rem;

  a {
    color: @black;
    text-decoration: none;
  }
}
